.nav {
    position: fixed;
    top: 0;
    height: 5rem;
    z-index: 1;
    width: 100%;
    /* Animation */
    transition: all 0.3s ease-in;
}

.nav-content {
    display: flex;
    padding: 0px 25px;
    justify-content: space-between;
    align-items: center;
}

.nav-black {
    background-color: #111;
}

.nav-logo img {
    width: 5rem;
    cursor: pointer;
}

.avtar img {
    object-fit: contain;
    height: 2.3rem;
    cursor: pointer;
}